body {
    background-color: black;
    color: white;
    text-align: center;
}

img {
    width: 40%;
}

h1 {
    font-family: initial;
    font-size: 4em;
    margin-bottom: auto;
}

h2 {
    font-weight: 300;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
}