<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ site.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="container">

      <div class="page-header">
        <h1>{{ site.title }}</h1>
        <p>
          {{ site.description }}
        </p>
        <p class="text-right">
          built by <a href="https://www.tddapps.com">tddapps.com</a>          
        </p>
      </div>

      {% assign var all_groups = "1,2,3,4,5" | split: ',' %}

      <div class="container">
        <div class="row">
          {% for group_start in all_groups %}
            {% if group_start == "1" or group_start >= "4" %}
              <div class="col-6 col-sm-4">
            {% endif %}

              <h2>{{group_start}}xx</h2>
              <ul>
                {% for page in site.pages %}
                  {% if page.title %}
                    {% assign var group = page.title | slice: 0 %}
                    {% if group == group_start %}
                      <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>

            {% if group_start >= "3" %}
              </div>
            {% endif %}

          {% endfor %}
        </div>
      </div>

    </div>
  </body>
</html>